<Response>
   
    <Speak>Go Green, Go Plivo.</Speak>
    <GetDigits action="http://requestb.in/t248nit2" method="POST" timeout= "4" numDigits ="1" >
        <Speak>Enter your digit</Speak>
    </GetDigits>
     <Speak>We did not receive any response .</Speak>
     <Redirect>http://requestb.in/1d62xkz1</Redirect>
</Response>
